/* Ftech1 & Ftech2  */
.main{
  width: 900px;
  min-height: 400px;
  background-color: rgb(73, 94, 87);
  padding: 32px;
  border: 1px solid #333333;
  border-radius: 16px;
  margin: 32px auto;
  box-shadow: 2px 0 12px #f4ce14;
  text-align: center;
}
.article{
  max-width: 100%;
  min-height: fit-content;
  background-color: #edefee;
  border-radius: 16px;
}
.header{
  font-size: 40px;
  font-weight: bold;
  padding: 16px;
}
.span-color{
  color: rgb(73, 94, 87);
}
.span{
  font-size: 20px;
  font-weight: bold;
}
